@import "../../../../common/styles/_variables";


.c_dashboard {
    background-color: @page-bg-content;
    padding-bottom: 15px;
}

.c_job-details-list {
    border: 1px solid @solid-border-color;
    padding: 0 10px;
    margin-bottom: 15px;

    .no-border {
        .c_rule_set {
            border-bottom: 0;
        }
    }

    .c_jod_details {
        padding: 10px 10px;
        border-bottom: 1px solid @solid-border-color;

        .c_jod_details-header {
            cursor: pointer;
            text-transform: capitalize;

            .chevron {
                float: right;
            }

            .btn {
                margin-right: 10px;
                z-index: 100;
            }

            .btn-group, .btn-group-vertical {
                margin-top: -3px;
                margin-right: -3px;
                margin-left: 6px;

                .btn {
                    margin-right: 0;
                    font-size: 8px;
                }
            }
        }

        .c_jod_details-details {
            padding-top: 10px;

            h4 {
                margin-top: 25px;
                margin-left: 14px;
                border-bottom: 1px solid @h3-color;
            }
        }
    }
}