*.7z
*.cache
*.log
*.orig
*.orig
*.sublime-workspace
*.suo
*.user
*.zip
*_NCrunch*
*.ncrunch*
*_ReSharper*
*.css
*.min.css
.paket/paket.exe
.vs
bin
logs
node_modules
bower_components
obj
out

# Do not include actual packages as they will be extracted either on dev or on build system.
packages/

coverage/

# Protactor functional test project
src/*/.vscode/
screenshots

logs
src/*/nCrunchTemp*
src/Dream.Space/aurelia_project/**/*.js
src/Dream.Space/aurelia_project/**/*.js.map
src/Dream.Space/src/**/*.js
src/Dream.Space/src/**/*.js.map
src/Dream.Space/test/**/*.js
!src/Dream.Space/test/aurelia-karma.js
src/Dream.Space/test/**/*.js.map