<template>
    <require from="./study.css"></require>
    <require from="./study-actions/study-actions"></require>

    <study-actions></study-actions>


    <div class="row">

        <div class="col-md-8 article">
            <header>
                <h3>${article.title}</h3>
            </header>

            <form if.bind="editMode === true">
                <fieldset>
                    <div class="form-group">
                        <label>Article Name</label>
                        <input type="text" class="form-control" value.bind="article.title & validate">
                    </div>

                    <div class="form-group">
                        <label>Article Url</label>
                        <input type="text" class="form-control" value.bind="article.url & validate">
                    </div>

                </fieldset>

                <h4>Article Parts</h4>
            </form>

            <div class="c_article_parts ${editMode ? 'edit-mode' : ''}">
                <article-parts parts.bind="article.blocks"></article-parts>
            </div>

        </div>

        <div class="col-md-4">
            <div class="side-navigation">
                <h3>${category.title}</h3>
                <ul>
                    <li repeat.for="summary of articles">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        <a click.delegate="$parent.navigateToArticle(summary.url)" title="${summary.summary}"
                           class="${summary.selected ? 'active' : ''}">${summary.title} Rules</a>
                    </li>
                </ul>

                <div if.bind="editMode">
                    <h3>Add / Remove Articles</h3>
                    <ul>
                        <li class="side-navigation-add">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <a click.delegate="addArticle()">Add New Article</a>
                        </li>

                        <li class="side-navigation-delete">
                            <form>
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                <a click.delegate="deleting = true">Delete Loaded Article</a>
                                <div class="form-actions no-border" if.bind="deleting ">
                                    <input class="btn btn-danger" type="button" click.delegate="deleteArticle()" value="Delete">
                                    <input class="btn btn-default" type="button" click.delegate="deleting = false" value="Cancel">
                                </div>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>