<template>
    <require from="./study.css"></require>
    <require from="./study-actions/study-actions"></require>
    <require from="./category-studies/category-studies"></require>

    <study-actions></study-actions>


    <div class="row">

        <div class="col-md-8 article">
            <header>
                <h3>${article.title}</h3>
            </header>

            <form if.bind="editMode === true">
                <fieldset>
                    <div class="form-group">
                        <label>Article Name</label>
                        <input type="text" class="form-control" value.bind="article.title & validate">
                    </div>

                    <div class="form-group">
                        <label>Article Url</label>
                        <input type="text" class="form-control" value.bind="article.url & validate">
                    </div>                    
                    
                    <div class="form-group">
                        <label>Summary</label>
                        <textarea rows="4" class="form-control" value.bind="article.summary & validate"></textarea>
                    </div>

                </fieldset>

                <h4>Article Parts</h4>
            </form>

            <div class="c_article_parts ${editMode ? 'edit-mode' : ''}">
                <article-parts parts.bind="article.articleBlocks"></article-parts>
            </div>

        </div>

        <div class="col-md-4">
            <category-studies category.bind="category"></category-studies>
        </div>
    </div>
</template>