<template>
    <require from="../chart-layouts.css"></require>
    <require from="./chart-layout"></require>
    
    <div class="c_layouts-content">
        <header>
            <h3>${title}</h3>
        </header>


        <div class="c_layout-list">

            <chart-layout repeat.for="layout of layouts" class="${$index === $parent.layouts.length-1 && !editMode ? 'no-border': ''}" layout.bind="layout"></chart-layout>

            <div class="c_layout c_layout-add" show.bind="editMode">
                
                <div class="c_layout-header" click.delegate="addLayout()">
                    <a>Add Layout</a>
                    <a class="chevron">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </div>
            
                <div class="c_layout-details" show.bind="addingMode === true && editMode">
                    <form>

                        <fieldset>
                            <div class="form-group">
                                <label for="txtName">Layout Name</label>
                                <input type="text" class="form-control" id="txtName" value.bind="newLayout.name & validate" />
                            </div>
                            <div class="form-group">
                                <label for="txtDescription">Description</label>
                                <textarea rows="4" class="form-control" id="txtDescription" value.bind="newLayout.description & validate"></textarea>
                            </div>
                        </fieldset>

                        <div class="c_layout-actions">
                            <button type="button" click.delegate="confirmAddLayout()" class="btn btn-warning">Attach</button>
                            <button type="button" click.delegate="cancelAddLayout()" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="c_layout-actions">
            <button type="button" click.delegate="startEdit()" if.bind="!editMode" class="btn btn-danger">Edit</button>
            <button type="button" click.delegate="trySaveRuleSets()" if.bind="editMode" class="btn btn-danger">Save</button>
            <button type="button" click.delegate="cancelEdit()" if.bind="editMode" class="btn btn-default">Cancel</button>
        </div>

    </div>
</template>