<template>
    <require from="../chart-layouts.css"></require>
    <require from="./chart-layout"></require>
    
    <div class="c_layouts-content">
        <header>
            <h3>${title}</h3>
        </header>


        <div class="c_layout-list">

            <chart-layout repeat.for="layout of layouts" class="${$index === $parent.layouts.length-1 && !editMode ? 'no-border': ''}" layout.bind="layout"></chart-layout>

            <div class="c_layout c_layout-add" show.bind="editMode">
                
                <div class="c_layout-header" click.delegate="addIndicator()">
                    <a>Attach Indicator</a>
                    <a class="chevron">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </div>
            
                <div class="c_layout-details" show.bind="addingMode === true && editMode">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label>Period</label>
                                <select class="form-control" value.bind="attachedIndicator.period" change.delegate="onPeriodSelected()">
                                    <option> - Select Period -</option>
                                    <option repeat.for="period of periods" model.bind="period.id">${period.name}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Indicator</label>
                                <select class="form-control" value.bind="attachedIndicator.indicatorId" change.delegate="onIndicatorSelected()">
                                    <option> - Select Indicator -</option>
                                    <option repeat.for="periodIndicator of periodIndicators" model.bind="periodIndicator.indicatorId">${periodIndicator.name}</option>
                                </select>
                            </div>
                            <div class="form-group" if.bind="attachedIndicator.indicatorId > 0">
                                <label>Description</label>
                                <p class="form-control" readonly>${attachedIndicator.description}</p>
                            </div>
                        </fieldset>
                        <div class="c_layout-actions">
                            <button type="button" click.delegate="confirmAddIndicator()" class="btn btn-warning">Attach</button>
                            <button type="button" click.delegate="cancelAddIndicator()" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="c_layout-actions">
            <button type="button" click.delegate="startEdit()" if.bind="!editMode" class="btn btn-danger">Edit</button>
            <button type="button" click.delegate="trySaveRuleSets()" if.bind="editMode" class="btn btn-danger">Save</button>
            <button type="button" click.delegate="cancelEdit()" if.bind="editMode" class="btn btn-default">Cancel</button>
        </div>

    </div>
</template>